:root {
  /* Colors */
  --backgroundColor: #fafaf8;
  --primaryColor: #252525;
  --secondaryColor: #617d98;
  --tertiaryColor: #adb5bd;
  --ribbon-read: #2ca7d8;
  --ribbon-unread: #911750;

  /* Typography */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
}
